body {
    background-color: lightskyblue;
    text-align: center;
    font-family: Digital;

}

@font-face {
    font-family: "Digital";
    src: url("DS-DIGII.TTF");
}

input {
    font-size: 14px;
    font-family: Digital;
}

button {
    font-size: 20px;
    font-family: Digital;
}

.myFrame {
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    width: 50%;
    background-color: darkgray;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px #888888;

}

.myForm {
    margin: 10px 20px 10px 20px;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    background-color: #dddddd;
    box-shadow: 3px 3px 20px 1px black;
}
.formError {
    display: none;
    background-color: lightpink;
    color: red;
    border-radius: 3px;
}
.formResult {
    display: none;
    background-color: lightgreen;
    color: darkgreen;
    border-radius: 3px;
}
.formField {
    padding: 10px;
}
.formButton {
    font-size: 20px;
    padding: 10px;
}